/* GLOBAL GENERAL */
* {
    margin: 0;
    padding: 0;
}

/* GLOBAL BODY */
body {
    background-color: rgb(15, 15, 15);
}

/* FONTS */
h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

h4 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}

p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

/* TITLE */
.experience-title {
    text-align: center;
    margin: 2em 0 0 0;
}

/* MAIN */
.experience-entry {
    margin: 2em 4em 8em 4em;
}


.experience-entry h4 {
    margin: 0 0 .5em 13%;
}

.experience-entry img {
    display: block;
    margin: 0 auto 0 auto;
    width: 75%;
}

.experience-entry p {
    display: block;
    margin: 1em auto 0 auto;
    width: 70%;
}